name: Java CI

on:
  workflow_dispatch:
  push:
    paths:
      - 'gradle.properties'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Cache
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('build.gradle') }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build --no-daemon

      - name: Get file name
        run: echo "::set-output name=file_path::$(ls build/libs/*)"
        id: var

      - name: Upload to CurseForge
        uses: itsmeow/curseforge-upload@v3.1.0
        with:
          token: ${{ secrets.CURSEFORGE_TOKEN }}
          project_id: 376351
          game_endpoint: minecraft
          file_path: ${{ steps.var.outputs.file_path }}
          changelog: See recent commits [here](https://github.com/eutro/FramedCompactDrawers/commits/${{ github.sha }}).
          changelog_type: markdown
          # 1.18, 1.18.1, Java 17, Forge
          game_versions: 8899,8857,8326,7498
          release_type: release
          relations: storage-drawers:requiredDependency
